{% extends 'base.html.twig' %}

{% block title %}Hello AssignProjectsController!{% endblock %}

{% block body %}
{{form_start(assignForm)}}
{{form_label(assignForm.nameproject)}}
<br>
{{form_widget(assignForm.nameproject)}}
<br>
{{form_label(assignForm.nameconsultant)}}
<br>
{{form_widget(assignForm.nameconsultant)}}
<br>
<br>
<button type="submit" class="btn">Save</button>
{{form_end(assignForm)}}
{% endblock %}
