{% extends 'base.html.twig' %}

{% block title %}HoursOfProject{% endblock %}

{% block body %}
    <h1>HoursOfProject</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ hours_of_project.id }}</td>
            </tr>
            <tr>
                <th>NHours</th>
                <td>{{ hours_of_project.nHours }}</td>
            </tr>
            <tr>
                <th>Start</th>
                <td>{{ hours_of_project.start ? hours_of_project.start|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>End</th>
                <td>{{ hours_of_project.end ? hours_of_project.end|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ hours_of_project.createdAt ? hours_of_project.createdAt|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_hours_of_project_index') }}">back to list</a>

    <a href="{{ path('app_hours_of_project_edit', {'id': hours_of_project.id}) }}">edit</a>

    {{ include('hours_of_project/_delete_form.html.twig') }}
{% endblock %}
